* {
    font-family: "Poppins", sans-serif;
}

.font-en {
    font-family: "Poppins", sans-serif;
}


.font-bn {
     font-family: "Hind Siliguri", sans-serif;
}

.hero-bg {
    background-image: url("../assets/banner-image.png");
    
}